{% extends 'base.html' %}

{% block content %}

<h1> about me</h1>
<hr/>
<div class="container">
        <div class="row">
<div class="col-5">
    <br />
<img src="https://lh3.googleusercontent.com/proxy/o6MoIK7BQsfShqRgoWt-J5_XdgBC8P3YMngqelvdPX25n2TSvxfNwiR33KmpYxpItCAqWNrhqd0EXpeWYg-GuBZpMy3k6bi8JxXo_L8-e45bnd0CdM5B7yFuLyA4" style="width: 15rem;" class="rounded-circle" alt="profile">
</div>

<div class="col-5"><br />hi there! I'm Jamie... write whatever you want</div>
</div>
</div>
{% endblock %}