{% extends 'base.html'%}
{% block content %}

<h1> Home</h1>
<hr/>
<div class="container">
        <div class="row">
          <div class="col-9"><img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Triathlon/Galleries/Reasons+IRONMAN/IRONMAN_Physique.jpg" class="img-fluid" alt="what "/></div>
          <div class="col-3">hi there! I'm Jamie... write whatever you want</div>
          <div class="col-4"><br/>a column to write in</div>
          <div class="col-6"><br/>a column to write in</div>
        </div>
      </div>


  
   {% endblock %}